@font-face {
font-family: Lato-Regular;
src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face{
  font-family: RobotoMono-Light;
  src:url(../fonts/Roboto_Mono/RobotoMono-Light.ttf);
}

@font-face {
font-family: DoHyeon-Regular;
src: url(../fonts/Lato/DoHyeon-Regular.ttf);
}

body{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 55% 30% 5%;
}

header{
  grid-column: 2;
  grid-row: 1;

    h1{
      font-size: 22px;
      font-family: DoHyeon-Regular;
      text-align: center;
    }
}


main{
 grid-column: 2;
 grid-row: 2;
 font-family: Lato-Regular;
 background-color: #f2f2f2;
 text-align: left;
 font-size: 12px;
 border: 1px solid black;
 a{
   &:link{
    color: red;
    text-decoration: none;
   }
   &:hover{
    color: #9933ff;
    text-decoration: none;
  }
   &:active{
    color: yellow;
    text-decoration: none;
    font-size: 100px;
  }
 }
}


map{
  grid-column: 2;
  grid-row: 3;
  background-color: green;
  border: 1px solid black;
  h2{
    font-family: DoHyeon-Regular;
    letter-spacing: normal;
    text-align: center;
  }
}

#mapid{
    height: 300px;
    width: auto;
    margin-top: 15px;
}

footer{
  grid-row: 4 ;
  grid-column: 1 / 4;
  font-size: 8px;
  text-align: center;
  color: white;
  font-family: Roboto_Mono;
  background-color: green;
  border: 1px solid black;
}
aside {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
    text-align: center;
    font-size: 14px;
    background-color: blue;
    border: 1px solid black;
}

nav{
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  background-color: orange;
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
  color: white;
}


@media (max-width: 700px) {
	body {
		display: block;
    }

    map {
        display: block;
    }

    #mapid {
        height: 200px;
    }
}
